table, td, th{ 
    border-collapse: collapse;
    border: 1px solid black;
  }
  input{
    width: 150px;
  }
  .layer1{
    padding-left: 15px;
  }
  .layer2{
    padding-left: 30px;
  }
  .layer3{
    padding-left: 45px;
  }
  .layer4{
    padding-left: 60px;
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
  }
